.new_review_frame {
    display: none;
}

.reviews__head {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.reviews__head-message {
    padding-top: 15px;
}

.reviews__message-for-guest {
    color: #FF0000;
    font-size: 18px;
    font-weight: bold;
}

.reviews__item {
    padding: 30px 0;
}

.reviews__item:first-child {
    padding-top: 0;
}

.reviews__item:last-child {
    padding-bottom: 0;
}

.reviews__item:not(:last-child) {
    border-bottom: 1px solid #d7d7d7;
}

.review__name {
    color: #000;
    font-size: 15px;
    font-weight: bold;
}

.review__project {
    padding-top: 5px;
}

.review__message {
    padding-top: 15px;
}

.review__gallery {
    padding-top: 20px;
}

.review__gallery {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin: -5px;
}

.review__gallery-item {
    display: block;
    width: calc(20% - 10px);
    height: 130px;
    margin: 5px;
}

.review__gallery-item img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.review__gallery-item img:hover {
    opacity: .7;
}

.reviews .video-js.vjs-fluid {
    height: 100%;
}

.new-review-popup {
    width: 420px;
}

.new-review-popup__result {
    display: none;
}

.new-review-popup__result_show {
    display: block;
}

.new-review-popup__result-head {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.new-review-popup__result-text {
    margin-top: 5px;
}

.new-review-form_hide {
    display: none;
}

.new-review-form__errors {
    display: none;
    font-size: 12px;
    line-height: 1.2;
}

.new-review-form__errors_show {
    display: block;
}

.new-review-form__error {
    color: #e62222;
}

.new-review-form__error:not(:last-child) {
    margin-bottom: 7px;
}

@media (max-width: 1024px) {
    .review__gallery-item {
        width: calc(25% - 10px);
        height: 130px;
    }
}

@media (max-width: 860px) {
    .review__gallery-item {
        height: 110px;
    }
}

@media (max-width: 560px) {
    .review__gallery-item {
        width: calc(33.33333% - 10px);
    }
}

@media (max-width: 425px) {
    .review__gallery-item {
        width: calc(50% - 10px);
    }
}
