div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}



.articles-list .left-data a {
	max-width: 347px;
    min-width: 347px;
    height: 200px;
}

.articles-list .left-data img {
	min-height: 200px;
    min-width: 347px;
    object-fit: cover;
}



#map{
	margin-top: 50px;
}

.works_map_header {
	text-align: center;
}

.map_balloon {}