.idea/
/bitrix/
/upload/
/test/
/local/test/
/html/
/company/
test.php
robots.txt
maillog.txt
*.zip
*.gzip
*.gz
*.tgz
*.tar
*.gz.[0-9]
*.sql
*.log
*.mp3
*.exe
*.db
*.csv
*.mp4
*.xml
*.xls
*.psd
*.[oa]
*~
*.pdf
*.html
.htaccess.r
.htpasswd
.htsecure
web.config
p_log.txt
.DS_Store
