/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

.inner_wrap.TYPE_1 .sa_block {
    display: none;
}
.middle-info-wrapper.main_item_wrapper .quantity_block_wrapper{
    display: none;
}
.sticker_khit {
    background-color: #FF8C00 !important;
}
.sticker_aktsiya {
    background-color: #DC143C !important;
    color: white !important;
}