/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

@media (max-width: 500px) {
	.catalog_block .item_info {
		width: 100%;
    	text-align: center;
	}

	.catalog_item .price, .view-list .price {
		float: unset;
	}

	.counter_block {
		width: 150px;
    	height: 50px !important;
	}

	.counter_block .plus,
	.counter_block .minus {
		line-height: 50px;
		height: 50px;
		width: 50px;
		text-align: center;
	}

	.counter_block input[type="text"] {
		width: 50px;
		height: 50px;
		font-size: 15px;
	}

	.hover_block .to-cart {
		padding: 17px 42px 17px 42px;
	}
}



.works .catalog_item img, 
.works .product_slider .catalog_item img {
    min-height: 170px;
    min-width: 150px;
	object-fit: cover;
}

.works .catalog_item {
	padding: 20px 19px 20px 80px;
}

.works .image_wrapper_block,
.works .image_wrapper_block a {
    max-width: 150px;
    min-width: 150px;
    height: 170px;
}

.works .catalog_item_wrapp {
	width: 300px;
}

.works .catalog_item_wrapp:nth-child(4n) {
    width: 300px;
}



@media (max-width: 600px) {
	#header .main-nav {
		z-index: 1;
	}
}



.works_detail_wrapp .item_slider .thumbs li {
	width: 150px !important;
    height: 150px !important;
}

.top_big_banners .item .img_block {
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}