.works_detail_wrapp .detail_picture_block {
	max-height: 500px;
    height: 500px;
    float: unset;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 60px;
}

.item_slider .slides {
    max-width: 1024px !important;
}

.item_slider .slides {
	height: 500px !important;
}

.item_slider:not(.flex) .slides li {
	height: 500px !important;
}

.works_detail_wrapp .detail_picture_block img {
	width: 100%;
    height: 100%;
    object-fit: fill;
}

.wrapp_thumbs {
	position: relative;
}

.item_slider .thumbs {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    min-height: 150px;
	max-width: 800px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_slider .thumbs li {
	width: 150px !important;
    height: 150px !important;
}

.flex-nav-prev {
	left: 10px;
}

.flex-nav-next {
	right: 10px;
}



.works_btns {
	margin: 30px auto;
}

.btn_works,
.btn_catalog {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 15px;
    padding: 12px 30px 12px;
    color: #FFF;
    background: #6ab400;
    cursor: pointer;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    border: none;
    outline: 0;
    position: relative;
    font-family: Ubuntu,Arial,Helvetica,sans-serif;
    letter-spacing: .4px;
    width: auto;
    vertical-align: middle;
    font-weight: 500;
}

.btn_works:hover,
.btn_catalog:hover {
	color: white;
}

.btn_works {
	float: left;
    margin-left: 25%;
}

.btn_catalog {
	float: right;
    margin-right: 25%;
}



@media (max-width: 600px) {
	.item_slider {
		display: none;
	}

	.flex {
		display: block !important;
		margin-bottom: 25px;
	}

	.item_slider .slides {
		height: 260px !important;
		line-height: normal;
    	padding: 0 !important;
	}

	.btn_works,
	.btn_catalog {
		float: unset;
		display: block;
		margin: 10px 70px;
	}

	.works_btns {
		margin: 30px auto 0 auto;
	}
}